
{{#link-to "album" this tagName="li" class="menu-link"}}
    <a {{bind-attr href="view.href"}}>
        <strong>
            {{controller.model.name}}
        </strong>
    </a>
{{/link-to}}


<li class="menu-link">
    <a href="#" {{action 'openModalModel' 'sort-modal' model}}>
        <i class="fa fa-lg fa-sort"></i>
        Sort options
    </a>
</li>

<li class="menu-link">
    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
        <i class="fa fa-lg fa-upload"></i>
            Upload
    </a>
</li>


<li class="menu-link pull-right">
    <a>

    {{model.photos.length}} Photos
    </a>
</li>



