{{#modal-base model=model save='save' custom_save="Upload" save_disabled=view.nofiles custom_close="Cancel" closeModal='closeModal'}}

    {{#if uploading}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow="progress"}} aria-valuemin="0"
                 aria-valuemax="100">
                <span class="">{{view.progress}}% complete</span>
            </div>
        </div>
    {{/if}}


    <div class="upload">

        {{#each controller.files}}

            <label class="file">
                <label class="progress" {{bind-attr style=progress}}></label>

                <label class="name">
                    {{name}}
                </label>

                <label class="size">
                    {{hSize}}
                </label>

                <label class="status">
                    {{status}}
                </label>
            </label>


        {{else}}

            <label class="hint">Drop
                {{#if view.accept_files}}
                    files
                {{else}}
                    folders
                {{/if}}
                here (or click to browse)
            </label>

        {{/each}}

        {{#if view.accept_files}}
            <input type="file" id="file_input" accept="image/*" multiple/>
        {{else}}
            <input type="file" id="file_input" directory webkitdirectory/>
        {{/if}}


    </div>

{{/modal-base}}