<div class="container">
    {{validation-reminder resend="resend_validation"}}

    <h3>
        Your albums
    </h3>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Photos</th>
            <th>Permissions</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {{#each album in controller.model}}
            <tr>
                <td>
                    {{#link-to 'album' album.id}}
                        {{album.name}}
                    {{/link-to}}
                </td>
                <td>
                    {{album.photo_count}}
                </td>
                <td>
                    {{#link-to 'permissions' album.id}}
                        <i class="fa fa-lg fa-users"></i>
                        Permissions
                    {{/link-to}}

                </td>
                <td>
                    {{album.created}}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td>

                <a href="" {{action 'new_album'}}>
                    <i class="fa fa-lg fa-plus"></i>
                    New album
                </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

