<div class="container-fluid edge-to-edge">
    <div {{bind-attr class=controller.album_class}}>
        <div class="photo-select"><span></span></div>

        {{#each folder in folders}}
            {{photo-grid-folder folder=folder path="path" album=controller}}
        {{/each}}

        {{#each arrangedContent as |photo index|}}
            {{photo-grid-photo
            photo=photo
            _idx=index
            selection_mode=controller.selected.length
            album=controller
            new_sort="new_sort"
            transition="transition"
            save="save"}}
        {{/each}}

        {{#unless folders}}
            {{#unless arrangedContent}}
                {{#if controller._search}}
                    <div class="box-middle-center">
                        <span>
                            No photos found - enter search terms at the top of the screen.
                        </span>
                    </div>
                {{else}}

                    {{#if controller.permissions.upload}}
                        <div class="box-middle-center">
                        <span>
                            No photos found - would you like to
                            <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
                                upload some photos</a>?
                        </span>
                        </div>
                    {{/if}}
                {{/if}}
            {{/unless}}
        {{/unless}}
    </div>
</div>
{{outlet}}
