{{outlet}}
<div class="container-fluid edge-to-edge">
    <div {{bind-attr class=controller.album_class}}>
        <div class="photo-select"><span></span></div>

        {{#each folder in folders}}
            {{photo-grid-folder folder=folder album=model}}
        {{/each}}

        {{#each arrangedContent as |photo index|}}
            {{photo-grid-photo
            photo=photo
            idx=index
            selection_mode=controller.selected.length
            album=controller
            new_sort="new_sort"
            transition="transition"
            save="save"}}
        {{/each}}

        {{#unless folders}}
            {{#unless arrangedContent}}

                <div class="box-middle-center">
                <span>
                    No photos found - would you like to
                    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
                        upload some photos</a>?
                </span>
                </div>
            {{/unless}}
        {{/unless}}
    </div>
</div>


