<ul class="nav navbar-nav">

    {{#link-to "album" this (query-params path=null) tagName="li" class="menu-link"}}
        <a>
            <strong>
                {{controller.model.name}}
            </strong>
        </a>
    {{/link-to}}

    {{#each p in breadcrumbs}}
        {{#link-to "album" this (query-params path=p.path) tagName="li" class="menu-link"}}
            <a>
                > {{p.name}}
            </a>
        {{/link-to}}
    {{/each}}

    <li class="menu-link">
        <a href="#" {{action 'openModalModel' 'sort-modal' model}}>
            <i class="fa fa-lg fa-sort"></i>
            Sort
        </a>
    </li>

    <li class="menu-link">
        <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
            <i class="fa fa-lg fa-upload"></i>
            Upload
        </a>
    </li>

</ul>

<ul class="nav navbar-nav navbar-right">

    <li class="menu-link pull-right slider">
        <a>
            {{#if model.more_results}}
                <i class="fa fa-spin fa-spinner"></i>
            {{/if}}
            <span>

                {{#if controller.selected}}
                    {{controller.selected.length}} selected
                    <span class="fa fa-close" {{action 'cancel_selection'}}></span> -
                {{/if}}
                {{model.photos.length}} Photos
            </span>
            <div class="spacer"></div>
            <span class="fa fa-image"></span>
            {{input type="range" min=150 max=800 steps=50 value=model.minHeight}}
            <span class="fa fa-image fa-2x"></span>
        </a>
    </li>

</ul>

