{{#link-to "album" this (query-params path=null) tagName="li" class="menu-link"}}
    <a {{bind-attr href="view.href"}}>
        <strong>
            {{controller.model.name}}
        </strong>
    </a>
{{/link-to}}

{{#each p in model.photos.breadcrumbs}}
    {{#link-to "album" this (query-params path=p.path) tagName="li" class="menu-link"}}
        <a>
        > {{p.name}}
        </a>
    {{/link-to}}
{{/each}}



<li class="menu-link">
    <a href="#" {{action 'openModalModel' 'sort-modal' model}}>
        <i class="fa fa-lg fa-sort"></i>
        Sort options
    </a>
</li>

<li class="menu-link">
    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
        <i class="fa fa-lg fa-upload"></i>
        Upload
    </a>
</li>


<li class="menu-link pull-right">
    <a class="slider">
       Size
        {{input type="range" min=150 max=800 steps=50 value=model.minHeight}}
    </a>
</li>
<li class="menu-link pull-right">
    <a>
        {{model.photos.length}} Photos
    </a>
</li>

