<div class="container-fluid edge-to-edge">

    <div id="photos" class="{{controller.album_class}}">

        <div class="photo-select"><span></span></div>

        <div class="view-options">


            <div class="left-icons">
                <span class="mouse-action" {{action 'toggle_tags'}}>

                    {{#if controller.show_tags}}
                        <i class="fa fa-check"></i>
                    {{else}}
                        <i class="fa fa-square-o"></i>
                    {{/if}}
                    Show tags
                </span>
            </div>

            <div class="right-icons">
                <i class="fa fa-bars"></i>
            </div>

        </div>

        {{#each folders as |folder|}}
            {{photo-grid-folder folder=folder path="path" canDrop=controller.permissions.move album=controller}}
        {{/each}}

        {{#each arrangedContent as |photo index|}}
            {{photo-grid-photo
            photo=photo
            _idx=index
            selection_mode=controller.selected.length
            album=controller
            transition="transition"
            add_comment="add_comment"
            size_immediate="size_immediate"
            save="save"}}
        {{/each}}

        {{#unless folders}}
            {{#unless arrangedContent}}
                <div class="box-middle-center">
                    <span>
                        {{#if controller.search_mode}}
                            No photos found - enter search terms at the top of the screen.
                        {{else}}

                            {{#if controller.model.more_results}}
                                Please wait - we're loading some photos...

                                {{else if controller.permissions.upload}}
                                    No photos found - would you like to
                                    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
                                        upload some photos
                                    </a>?

                                {{#unless session.validated}}
                                    {{validation-reminder}}
                                {{/unless}}
                            {{/if}}

                        {{/if}}
                    </span>
                </div>

            {{/unless}}
        {{/unless}}
    </div>
</div>
{{outlet}}
