<div class="container">
    <h3>
        Edit permissions for
        {{#link-to 'album' model.id}}
            <strong>
                {{model.name}}
            </strong>
        {{/link-to}}
    </h3>


    <form class="form-horizontal" role="form">

        <div class="form-group">

            <label class="col-sm-3 control-label">
                Allow anyone to view the album?
            </label>

            <div class="col-sm-9">
                <div class="checkbox">
                    <label {{action 'toggle_anon'}}>
                        {{input type="checkbox" checked=allow_anon}} Anonymous Viewers
                    </label>
                </div>
            </div>
        </div>


        {{#if allow_anon}}

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Public sharing URL:
                </label>

                <div class="col-sm-9">
                    <p class="form-control-static">

                        <a {{bind-attr href=model.public_url}}>
                            {{model.public_url}}
                        </a>
                    </p>

                </div>
            </div>


        {{/if}}

    </form>

    <h4>
        Fine grained permissions
    </h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>View</th>
            <th>Edit</th>
            <th>Move</th>
            <th>Upload</th>
            <th>Delete</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {{#each perm in model.resolved_permissions}}
            <tr>
                <td>
                    {{perm._user.full_name}}
                </td>
                <td>
                    {{#if perm.view}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if perm.edit}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if perm.move}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if perm.upload}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if perm.delete}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if perm.owner}}
                        <i class="fa fa-check"></i>
                    {{/if}}
                </td>
                <td></td>
            </tr>

        {{/each}}
        <tr>
            <td>

                <a href="" {{action 'add_permission'}}>
                    <i class="fa fa-lg fa-plus"></i>
                    Add user
                </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>


</div>