{{#modal-base
model=model
title='Sort images in this folder'
custom_save="Sort"
custom_close="Cancel"
sort_check="sort_check"
save='save'
close='close'
closeModal='closeModal'
}}

    <form class="form-horizontal" role="form">

        <div class="form-group">

            <label class="col-sm-2 control-label">
                Sort by
            </label>

            <div class="col-sm-10">

                <ul class="list-unstyled list-group">

                    {{#each option in sortOptions}}
                        <li class="list-group-item">

                            <label {{action 'sort_check' option on="mouseUp"}}>
                                {{input type="radio" name="sort-options" value=option.val checked=option.checked}}
                                {{option.name}}
                            </label>
                        </li>

                    {{/each}}
                </ul>
            </div>

        </div>

        <div class="form-group">

            <label class="col-sm-2 control-label">
                Direction
            </label>

            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=sortAscending}} Sort ascending
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">

            <label class="col-sm-2 control-label">
                Progress
            </label>

            <div class="col-sm-10">


                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        {{pcent}}% complete
                    </div>
                </div>

                {{sorted.length}} of {{model.photos.arrangedContent.length}} sorted

            </div>
        </div>

    </form>

{{/modal-base}}
