{{#modal-base
    model=model
    save='save'
    close='close'
    custom_save=controller.save_caption
    save_disabled=controller.save_disabled
    custom_close=controller.close_caption
    closeModal='closeModal'
}}

    {{#if uploading}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow="progress"}} aria-valuemin="0"
                 aria-valuemax="100">
                <span class="">{{view.progress}}% complete</span>
            </div>
        </div>
    {{/if}}


    <div class="upload">

        {{#each file in controller.files}}

            <label class="file">
                <label class="progress" {{bind-attr style=file.progress}}></label>

                <label class="name">
                    {{file.name}}
                </label>

                <label class="size">
                    {{file.hSize}}
                </label>

                <label class="status">
                    {{file.status}}
                </label>
            </label>


        {{else}}

            <label class="hint">Drop
                {{#if view.accept_files}}
                    files
                {{else}}
                    folders
                {{/if}}
                here (or click to browse)
            </label>

        {{/each}}

        {{#if view.accept_files}}
            <input type="file" id="file_input" accept="image/*" multiple/>
        {{else}}
            <input type="file" id="file_input" directory webkitdirectory/>
        {{/if}}
    </div>

{{/modal-base}}