{{#modal-base
    model=model
    save='save'
    close='close'
    custom_save=controller.save_caption
    save_disabled=controller.save_disabled
    custom_close=controller.close_caption
    toggle=toggle
    toggleVal='toggleVal'
    closeModal='closeModal'
}}

    {{#if uploading}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow="progress"}} aria-valuemin="0"
                 aria-valuemax="100">
                <span class="">{{view.progress}}% complete</span>
            </div>
        </div>
    {{/if}}


    <div class="upload">

        {{#each file in controller.files}}

            <div class="file">
                <div class="progress" {{bind-attr style=file.progress}}></div>

                <div class="name">
                    {{file.name}}
                </div>

                <div class="status">
                    {{file.status}}
                </div>

                <div class="size">
                    {{file.hSize}}
                </div>
            </div>


        {{else}}

            <label class="hint">Drop
                {{#if accept_folders}}
                    folders
                {{else}}
                    files
                {{/if}}
                here (or click to browse)
            </label>

        {{/each}}

        {{#if accept_folders}}
            <input type="file" id="file_input" directory webkitdirectory/>
        {{else}}
            <input type="file" id="file_input" accept="image/*" multiple/>
        {{/if}}
    </div>

{{/modal-base}}